@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins',  'Playfair Display', serif;
}

input::placeholder {
  color: inherit;
}

.react-datepicker {
  border: none !important;
}

.select__input {
  color: inherit !important;
  padding: 0;
}



.select__control--is-focused{
  border: none !important;
  border-bottom: 1px solid white !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.select__single-value,
.select_input-container,
.select__placeholder {
  font-size: 16px !important;
  color: inherit !important;
  padding: 0  !important;
}



.select__value-container{
  padding: 0  !important;
}

.select__indicator-separator {
  display: none !important;
}

.select__menu {
  width: 200px !important;
  color: #333333 !important;
}

.select_outline__single-value,
.select_outline_input-container,
.select_outline__placeholder {
  font-size: 16px !important;
  padding: 0  !important;
}

.select_outline__value-container{
  padding: 0  !important;
}

.select_outline__indicator-separator {
  display: none !important;
}

.select__indicator {
  display: none !important;
}

.select__control {
  background: transparent !important;
  border: none !important;
  margin-top: -4px !important;
  padding: 0  !important;
}

.select_outline__menu {
  width: 120px !important;
}

.select_outline__control {
  background: transparent !important;
  border: none !important;
  margin-top: -4px !important;
  padding: 0  !important;
}

.select_outline__control--is-focused{
  border: none !important;
  border-bottom: 1px solid white !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.location__filter__control{
  height: 50px;
}