.base {
    height: 170px;
    width: 260px;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

@keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
}