.base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding: 0 8rem;
  cursor: pointer;
  @apply fixed inset-x-0  top-0 z-10;
}

.theme {
  &__light {
    color: black;
  }

  &__dark {
    color: white;
  }
}