.base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding: 0 4em;
  cursor: pointer;
  background: inherit;
}

.theme {
  &__light {
    color: black;
    border-bottom: 1px solid #dddddd;
  }

  &__dark {
    color: white;
  }
}
