.base {
    height: 170px;
    width: 260px;
    border-radius: 0px;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.h4 {
  color: black;
  font-weight: 700;
}

.h6 {
  color: black;
}

@keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
}