.base {
    background-image: url('/banner.png');
    width: 100vw;
    height: 690px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.roomBase {
    @apply  h-[150px] lg:h-[267px] relative;
}