.input_container {
  @apply flex border h-[48px] border-grey30  focus-within:border-primary400;
}

.input {
  @apply w-full px-5 py-2 focus:outline-0 bg-inherit text-inherit border-none;
  border-radius: inherit;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
