.inputs {
  width: 100%;
  @apply border px-5 py-4 my-3 border-grey30 h-[54px] rounded-lg focus:outline-0 focus:border-primary400;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
